@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    --bg-color: #000;
    --primary-color: #1fc8df;
    --text-color: #fff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;    
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
}  

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.nav-content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    transition: .3s;
}
nav .logo a:hover{
    color: var(--primary-color);
    
}
nav .logo a span{
    color: var(--primary-color);
}
nav .logo a span:hover{
    color: var(--text-color);
}
nav .checkbox{
    display: none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: 0.3s;
}
ul li a{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
    transition: 0.3s;
}
ul li a:hover{
    color: var(--primary-color);
}


/* home section start */
.home-section{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: .5rem;
}
.title span{
    color: var(--primary-color);
}
.text-animation{
    font-size: 2.5rem;
    font-weight: 600;
    min-width: 280px;
    color: var(--text-color);
    margin-bottom: .5rem;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'Web Developer';
    color: var(--primary-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content:'';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--primary-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Student';
    }
    21%,
    40%{
        content: 'Web Developer';
    }
    41%,
    60%{
        content: 'Front-end Developer';
    } 
    61%,
    80%{
        content: 'Graphic Designer';
    }
    81%,
    100%{
        content: 'Web Developer';
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


.description{
    line-height: 1.5rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.action-btn{
    display: flex;
    gap: 1rem;
}
.action-btn a{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 3px solid var(--primary-color);
    border-radius: 25px;
    transition: .3s;
    cursor: pointer;
}
.hire-me{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.hire-me:hover{
    box-shadow: 0 0 2px var(--primary-color),
                 0 0 4px var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    transform: scale(1.1);
}
.portfolio-btn{
    color: var(--primary-color);
}
.portfolio-btn:hover{
    box-shadow: 0 0 2px var(--primary-color),
    0 0 4px var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.1);
}
.image{
    display: grid;
    place-items: centre;
}
.image img{
    width: min(25rem,90%);
    height: min(25rem,90%) ;
    border-radius: 100%;
    margin-top: 150px;
    margin-left: 50px;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.3s ease-in-out;
}
.image img:hover{
    box-shadow: 0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
}
/* home section end */


/* about section start */

.about-section{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    text-align: center;
    font-size: 4rem;
}
.heading span{
    color: var(--primary-color);
    text-shadow: 0 0 50px var(--primary-color);
}
.about-section h1{
    text-align: left;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
.about-section h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.about-section h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.about-section h3 span{
    color: var(--primary-color);
}
.about-img{
    display: grid;
    place-items: centre;
}
.about-img img{
    width: min(25rem,90%);
    height: min(25rem,90%) ;
    border-radius: 100%;
    margin-top: 150px;
    margin-left: 50px;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.3s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
    
}
main a{
    margin-top: 15px;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 25px;
    transition: .3s;
    cursor: pointer;
}
main a:hover{
    box-shadow: 0 0 2px var(--primary-color),
                0 0 4px var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.1);
}
.about-section .text-animation span::before{
    content: 'Web Developer';
    color: var(--primary-color);
    animation: words 20s infinite;
}
.about-section .text-animation span::after{
    content:'';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/* about section end */


/* skill section start */
.skills{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.skills h1{
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 150px;
}
.skills h1 span{
    color: var(--primary-color);
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.col{
    flex-basis: 46% ;
}
.row .subtitle h2{
    position: relative;
    color: var(--primary-color);
    font-size: 3rem;
    display: inline-block;
    margin-bottom: 30px;
}
.subject{
    font-size: 2rem;
    font-weight: thin;
    color: var(--text-color);
    padding-bottom: 15px;
}
.progress-bar{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 15px;
    margin-bottom: 20px;
}
.progress-bar::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: var(--text-color);
    font-size: 1rem;
}
.progress-line{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 15px;
    
}
/* skill section end */

/* portfolio section start */
.portfolio{
    margin-top: 150px;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio .box-container .box{
    height: 20rem;
    width: 22rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
}
.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}
/* portfolio section end */
/* contact section start */
.contact{
    min-height: 100vh;
    max-width: var(--max-width);
    margin-top: 150px;
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.contact form{
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form .input-box input,
form .input-box textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--primary-color);
    margin: 1rem 0;
    resize: none;
}

.msg-btn{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 25px;
    transition: .3s;
    cursor: pointer;
}
.msg-btn:hover{
    box-shadow: 0 0 2px var(--primary-color),
                0 0 4px var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.1);
}
/* contact section end */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
@media (width < 750px) {
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked ~ ul {
        left: 0;
    }
    ul li a {
        font-size: 1.25rem;
    }
    .home-section{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: 1fr;
    }
    .text-animation{
        font-size: 1.5rem;
    }
    .image{
        grid-area: 1/1/2/2;
        margin-bottom: 100px ;
        justify-content: center;
        
    }
    .action-btn{
        justify-content: center;
    }
    .about-section{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: 1fr;
    }
    .about-section .heading{
        font-size: 3rem;
        text-align: center;
    }
    .about-section .text-animation{
        font-size: 1.5rem;
    }
    .about-img{
        grid-area: 1/1/2/2;
        margin-bottom: 100px ;
        align-items: center;
    }
    .skills .row{
        flex-direction: column;
    }
    .row .subtitle h2{
        font-size: 2rem;
    }
    .row .subject{
        font-size: 1rem;
    }
    form textarea{
        width: 100%;
    }
    .heading{
        font-size: 3rem;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
}
footer{
    color: var(--primary-color);
    background-color: var(--bg-color);
    text-align: center;
}
